In [1]:
import requests
import json
import csv
import pandas as pd
from Review_Helper import *

with open(".secrets/creds.json") as f:
    api_key = json.load(f)

    
csv_filepath = './NYC_Bars_Clean.csv'

In [2]:
df = pd.read_csv(csv_filepath, index_col = 0)
df

,Name,Address,Business ID,Rating,Review Count,Coordinates,Price
0,The Three Monkeys,"['236 W 54th St', 'New York, NY 10019']",IBgjj5VBu5JJvKgo9EzKrg,4.0,1194,"{'latitude': 40.764164, 'longitude': -73.98306}",2
1,Luckydog,"['303 Bedford Ave', 'Brooklyn, NY 11211']",3Uzy1yp1SXq3FG-i2hEcyA,4.0,299,"{'latitude': 40.71348, 'longitude': -73.96166}",1
2,Pint,"['34 Wayne St', 'Jersey City, NJ 07302']",SDgXhdIDqhOo2E3t8e15Eg,4.0,148,"{'latitude': 40.7190548557359, 'longitude': -7...",1
3,e's BAR,"['511 Amsterdam Ave', 'New York, NY 10024']",GXh9YpX4v8Wemrq-SPDPhA,4.0,356,"{'latitude': 40.786692073145, 'longitude': -73...",2
4,The Levee,"['212 Berry St', 'Brooklyn, NY 11211']",XpYm_l-zKI3Rl4E8WODIDA,4.0,395,"{'latitude': 40.7163303847776, 'longitude': -7...",1
...,...,...,...,...,...,...,...
286,The Crosby Bar,"['79 Crosby St', 'New York, NY 10012']",3RzOtG3BmPaZy7NtlbGfsg,3.5,171,"{'latitude': 40.72304, 'longitude': -73.99746}",3
287,Berry Park,"['4 Berry St', 'Brooklyn, NY 11211']",DMOwfdP0Va1QI_KNefD8kg,3.5,674,"{'latitude': 40.7224719, 'longitude': -73.9552...",2
288,Pioneers,"['138 W 29th St', 'New York, NY 10001']",4KqGAtsXe7FXDRvnRQCjVA,3.5,255,"{'latitude': 40.7472374, 'longitude': -73.9917...",2
289,The Roost,"['222 Ave B', 'New York, NY 10009']",6lhdCbVV0v0j2W9W_9lXBw,4.0,144,"{'latitude': 40.7290935, 'longitude': -73.9785...",2
290,Monk Mcginn's,"['57 Murray St', 'New York, NY 10007']",F-QQCnbsw48dfx4qVf-WoQ,4.5,92,"{'latitude': 40.71432, 'longitude': -74.00972}",2

In [3]:
Business = df['Business ID']
Business

0      IBgjj5VBu5JJvKgo9EzKrg
1      3Uzy1yp1SXq3FG-i2hEcyA
2      SDgXhdIDqhOo2E3t8e15Eg
3      GXh9YpX4v8Wemrq-SPDPhA
4      XpYm_l-zKI3Rl4E8WODIDA
                ...
286    3RzOtG3BmPaZy7NtlbGfsg
287    DMOwfdP0Va1QI_KNefD8kg
288    4KqGAtsXe7FXDRvnRQCjVA
289    6lhdCbVV0v0j2W9W_9lXBw
290    F-QQCnbsw48dfx4qVf-WoQ
Name: Business ID, Length: 291, dtype: object

In [4]:
csv_filepath = './NYC_Reviews.csv'

for ID in Business:
    review = yelp_reviews(ID, api_key)
    df = pd.DataFrame(review, columns = ['Review ID', 'Business ID', 'Review', 'Rating'])
    df.to_csv(csv_filepath, mode='a', header=False)

In [ ]:
cleanedFile = './NYC_Reviews_Clean.csv'
x = review_clean(csv_filepath, cleanedFile)

In [ ]:
x